# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env.*

# FastAPI / Uvicorn
*.log

# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# Temp files
mpv-shot*.jpg

torrent_downloads.log